<app-navbar></app-navbar>

<div class="container-fluid">


  <div class="row">
    <div class="col">
      <div class="company-hero">
        <img src="{{company?.logo}}" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="company-overview">
        <p class="text-center">{{companyName}}</p>
      </div>
    </div>
  </div>



  <!--- REVIEWS ------------------->
  <div class="container">

    <div class="row">
      <section id="reviews">

        <h3><span style="text-transform: capitalize"> {{companyName}} Reviews </span></h3>


        <!-- REVIEW CARDS -->
        <ul class="review-card-wrapper" *ngFor="let review of allReviews">

          <li class="review-card">

            <div class="review-card" *ngIf="review._id == intersectedId">

              <!-- User image -->
              <div id="review-image-section" class="col-md-2">
                <div class="review-user-image" *ngIf="review.createdBy.image">
                  <img src="/{{review.createdBy.image.path}}" alt="">
                </div>

                <div class="review-user-image" *ngIf="localStoragePicture && review.createdBy.image == null">
                  <a>
                  <img src="{{localStoragePicture}}" alt="">
                </a>
                </div>

                <div class="review-user-image" *ngIf="review.createdBy.image == null && localStoragePicture == null">
                  <a>
                  <img src="/assets/glyphicons/user.png" alt="">
                </a>
                </div>
              </div>

              <div id="review-text-section" class="col-md-8" *ngIf="editCheck == false">

                <!-- Star Rating -->
                <div class="review-stars">
                  <star-rating-comp [starType]="'svg'" [hoverEnabled]="false" [readOnly]="true" [rating]="review.starRating"></star-rating-comp>
                </div>

                <!-- Review text -->
                <div class="review-text-wrapper">

                  <!-- Review Comment Body -->
                  <div class="comment-body">
                    {{review.commentBody}}
                  </div>

                </div>

                <!-- Edit and Delete Buttons -->
                <button type="button" name="button" class="btn btn-info" (click)="editReview()"> Edit </button>
                <button type="button" name="button" class="btn btn-danger" (click)="setDeletedReviewId(review._id); deleteReview(); removeItem(review._id); showReviewForm()"> Delete </button>
              </div>

              <!-- EDIT FORM -->
              <div id="review-text-section" class="col-md-8" *ngIf="editCheck == true">

                <form>

                  <div class="review-stars">
                    <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="review.starRating"></star-rating-comp>
                    {{rating}}
                  </div>

                  <fieldset>
                    <div class="review-text-section">
                      <label for="review">Review</label>
                      <input type="text" class="form-control comment-body" name="commentBody" [(ngModel)]="review.commentBody">
                    </div>
                  </fieldset>


                  <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="editUserReview()">Submit</button>
                </form>

              </div>
            </div>

            <div class="review-card" *ngIf="review._id != intersectedId">


              <!-- User image -->
              <div id="review-image-section" class="col-md-2">
                <div class="review-user-image" *ngIf="review.createdBy.image">
                  <img src="/{{review.createdBy.image.path}}" alt="">
                </div>

                <div class="review-user-image" *ngIf="localStoragePicture && review.createdBy.image == null">
                  <a>
                  <img src="{{localStoragePicture}}" alt="">
                </a>
                </div>

                <div class="review-user-image" *ngIf="review.createdBy.image == null && localStoragePicture == null">
                  <a>
                  <img src="/assets/glyphicons/user.png" alt="">
                </a>
                </div>
              </div>

              <div id="review-text-section" class="col-md-8">

                <!-- Star Rating -->
                <div class="review-stars">
                  <star-rating-comp [starType]="'svg'" [hoverEnabled]="false" [readOnly]="true" [rating]="review.starRating"></star-rating-comp>
                </div>

                <!-- Review text -->
                <div class="review-text-wrapper">

                  <!-- Review Comment Body -->
                  <div class="comment-body">
                    {{review.commentBody}}
                  </div>

                </div>

              </div>
            </div>

          </li>
        </ul>
      </section>
</div>
</div>



          <div class="container" id="review-form" *ngIf="isAuth && !reviewExists || isAuth && allReviews.length >= 0 && !reviewExists">
            <div class="row">
              <div class="col">
                <div class="company-reviews">

                  <h5 class="text-center">Review this company</h5>

                  <!-- User review form -->
                  <form>

                    <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="2.63"></star-rating-comp>
                    {{rating}}

                    <fieldset>
                      <label for="review">Review</label>
                      <!-- <input type="text" class="form-control comment-body" name="commentBody" [(ngModel)]="review.commentBody"> -->
                      <textarea name="commentBody" class="form-control comment-body" rows="4" cols="50" [(ngModel)]="review.commentBody"></textarea>
                    </fieldset>

                    <!-- <button *ngIf="isAuth" type="button" name="button" class="btn btn-info">EDIT BIO</button> -->
                    <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="submitUserReview(); hideReviewForm()">Submit</button>
                  </form>




                </div>
              </div>
            </div>
          </div>


</div>

<app-footer></app-footer>
