<app-navbar></app-navbar>

<div class="container-fluid">


  <div class="row">
    <div class="col">
      <div class="company-hero">
        <img src="{{company?.logo}}" alt="">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <div class="company-overview">
        <p class="text-center">{{companyName}}</p>
      </div>
    </div>
  </div>


  <hr>

  <!-- A list of all user reviews for company -->



<!--- REVIEWS ------------------->
  <div class="row">
    <section id="reviews">

      <h2> Reviews for <span style="text-transform: capitalize"> {{companyName}} </span> </h2>

      <ul class="" *ngFor="let review of allReviews">

        <li class="review-row">

          <!-- User image -->
          <div class="review-user-image" *ngIf="review.createdBy.image">
            <img src="/{{review.createdBy.image.path}}" alt="">
          </div>

          <div class="review-user-image" *ngIf="review.createdBy.image == null && localStoragePicture == null">
            <a>
                <img src="/assets/glyphicons/user.png" alt="">
              </a>
          </div>

          <div class="review-user-image" *ngIf="localStoragePicture && review.createdBy.image == null">
            <a>
                <img src="{{localStoragePicture}}" alt="">
              </a>
          </div>

          <!-- Review text -->
          <div class="review-text-wrapper">
            <!-- Review Subject -->
            <div class="subject">
              {{review.subject}}
            </div>

            <!-- Review Comment Body -->
            <div class="comment-body">
              Comment body: {{review.commentBody}}
            </div>
          </div>

          <!-- Star Rating -->
          <div class="review-stars">
            <star-rating-comp [starType]="'svg'" [hoverEnabled]="false" [readOnly]="true" [rating]="review.starRating"></star-rating-comp>
          </div>

          <!-- Edit and Delete Buttons -->
          <div *ngIf="review._id == intersectedId || newReview">
            <!-- <button type="button" name="button" class="btn btn-info" (click)="editReview()"> Edit </button> -->
            <button type="button" name="button" class="btn btn-danger" (click)="setDeletedReviewId(review._id); deleteReview(); removeItem(review._id); showReviewForm()"> Delete </button>
          </div>



<!-- EDIT FORM -->

          <!-- <form *ngIf="editCheck && review._id == intersectedId">

            <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="review.starRating"></star-rating-comp>
            {{rating}}


            <fieldset class="form-group">
              <label for="subject">Subject</label>
              <input type="text" class="form-control" placeholder="Subject" name="subject" [(ngModel)]="review.subject">
            </fieldset>

            <fieldset>
              <label for="review">Review</label>
              <input type="text" class="form-control comment-body" name="commentBody" [(ngModel)]="review.commentBody">
            </fieldset> -->

            <!-- NOTE: Replace submitUserReview() with an editUserReview() function -->
            <!-- <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="submitUserReview()">Submit</button>
          </form> -->

<!--  -->


        </li>

      </ul>

    </section>
  </div>

  <div class="container" id="review-form" *ngIf="isAuth && !reviewExists || isAuth && allReviews.length >= 0 && !reviewExists">
    <div class="row">
      <div class="col">
        <div class="company-reviews">

          <h5 class="text-center">There's nothing here yet.  Be the first to review this company!</h5>

          <p class="text-center">Company review section</p>

          <!-- User review form -->
          <div class="">

            <form>

              <!-- <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" formControlName="myRatingControl" (onRatingChange)="onRatingChange($event)" [rating]="2.63"></star-rating-comp>
              <h2>{{rating}}</h2> -->

              <star-rating-comp [starType]="'svg'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="2.63"></star-rating-comp>
              {{rating}}


              <fieldset class="form-group">
                <label for="subject">Subject</label>
                <input type="text" class="form-control" placeholder="Subject" name="subject" [(ngModel)]="review.subject">
              </fieldset>

              <fieldset>
                <label for="review">Review</label>
                <input type="text" class="form-control comment-body" name="commentBody" [(ngModel)]="review.commentBody">
              </fieldset>

              <!-- <button *ngIf="isAuth" type="button" name="button" class="btn btn-info">EDIT BIO</button> -->
              <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="submitUserReview(); hideReviewForm()">Submit</button>
            </form>


          </div>




        </div>
      </div>
    </div>
  </div>



</div>


<app-footer></app-footer>
