<app-navbar></app-navbar>

<div class="container-fluid">


  <div class="row">
    <div class="col">
      <div class="company-hero">
        <img src="{{company?.logo}}" alt="">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="company-info-box">

      <!-- <div id="company-name">
        <h3>{{company?.companyName}}</h3>
      </div> -->

      <div id="about" *ngIf="company?.about">

        {{company?.about}}

      </div>

      <div id="about" *ngIf="!company?.about">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure
        dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
        proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>


      <div id="certifications">
        <div *ngIf="company?.certifications"> <h5>Certifications</h5> </div>
        <div id="logo-wrapper">
          <div class="logo" *ngIf="company?.certifications?.bCorp == true"> <img src="/assets/logos/B-Corp.png" alt="" class="img-rounded"> </div>
          <div class="logo" *ngIf="company?.certifications?.organicCotton == true"> <img src="/assets/logos/organic_cotton.png" alt="" class="img-rounded"> </div>
          <div class="logo" *ngIf="company?.certifications?.fairTrade == true"> <img src="/assets/logos/certified_fairtrade.png" alt="" class="img-rounded"> </div>
          <div class="logo" *ngIf="company?.certifications?.vegan == true"> <img src="/assets/logos/vegan.png" alt="" class="img-rounded"> </div>
        </div>
      </div>



      <div id="averageReviews" *ngIf="allReviews != undefined">
        <star-rating-comp [starType]="'icon'" [hoverEnabled]="false" [readOnly]="true" [rating]="averageRating"></star-rating-comp>
        <p>{{allReviews.length}} reviews</p>
      </div>

    </div>
  </div>



  <!--- REVIEWS ------------------->
  <div class="container-fluid" id="review-wrapper">

    <div class="row">
      <section id="reviews" class="col-md-10 mx-auto">

        <h3><span style="text-transform: capitalize"> {{companyName}} Reviews </span></h3>


        <!-- REVIEW CARDS -->
        <ul class="review-card-wrapper" *ngFor="let review of allReviews">

          <li class="review-card-container">

            <div class="review-card" *ngIf="review._id == intersectedId">

              <!-- User image -->
              <div id="review-image-section" class="col-md-2">
                <div class="review-user-image" *ngIf="review.createdBy.image">
                  <img src="/{{review.createdBy.image.path}}" alt="">
                </div>

                <div class="review-user-image" *ngIf="localStoragePicture && review.createdBy.image == null">
                  <a>
                  <img src="{{localStoragePicture}}" alt="">
                </a>
                </div>

                <div class="review-user-image" *ngIf="review.createdBy.image == null && localStoragePicture == null">
                  <a>
                  <img src="/assets/glyphicons/user.png" alt="">
                </a>
                </div>
              </div>

              <div id="review-text-section" class="col-md-10" *ngIf="editCheck == false">

                <!-- Star Rating -->
                <div class="review-stars">
                  <star-rating-comp [starType]="'icon'" [hoverEnabled]="false" [readOnly]="true" [rating]="review.starRating"></star-rating-comp>
                </div>

                <!-- Review text -->
                <div class="review-text-wrapper">

                  <!-- Review Comment Body -->
                  <div class="comment-body">
                    {{review.commentBody}}
                  </div>

                </div>

                <!-- Edit and Delete Buttons -->
              <div class="edit-delete-buttons">
                <button type="button" name="button" class="btn btn-info btn-sm" (click)="editReview()"> Edit </button>
                <button type="button" name="button" class="btn btn-danger btn-sm" (click)="setDeletedReviewId(review._id); deleteReview(); removeItem(review._id); showReviewForm()"> Delete </button>
              </div>

              </div>

              <!-- EDIT FORM -->
              <div id="review-text-section" class="col-md-8" *ngIf="editCheck == true">

                <form>

                  <div class="review-stars">
                    <star-rating-comp [starType]="'icon'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="review.starRating"></star-rating-comp>
                    {{rating}}
                  </div>

                  <fieldset>
                    <div class="review-text-section">
                      <textarea name="commentBody" class="form-control comment-body" rows="4" cols="50" [(ngModel)]="review.commentBody" (ngModelChange)="editComment($event)"></textarea>
                    </div>
                  </fieldset>


                  <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="editUserReview(review._id)">Update</button>
                </form>
              </div>
            </div>

            <div class="review-card" *ngIf="review._id != intersectedId">


              <!-- User image -->
              <div id="review-image-section" class="col-md-2">
                <div class="review-user-image" *ngIf="review.createdBy.image">
                  <img src="/{{review.createdBy.image.path}}" alt="">
                </div>

                <div class="review-user-image" *ngIf="localStoragePicture && review.createdBy.image == null">
                  <a>
                  <img src="{{localStoragePicture}}" alt="">
                </a>
                </div>

                <div class="review-user-image" *ngIf="review.createdBy.image == null && localStoragePicture == null">
                  <a>
                  <img src="/assets/glyphicons/user.png" alt="">
                </a>
                </div>
              </div>

              <div id="review-text-section" class="col-md-8">

                <!-- Star Rating -->
                <div class="review-stars">
                  <star-rating-comp [starType]="'icon'" [hoverEnabled]="false" [readOnly]="true" [rating]="review.starRating"></star-rating-comp>
                </div>

                <!-- Review text -->
                <div class="review-text-wrapper">

                  <!-- Review Comment Body -->
                  <div class="comment-body">
                    {{review.commentBody}}
                  </div>

                </div>

              </div>
            </div>

          </li>
        </ul>

  <!-- User review form -->
        <div class="container" id="review-form" *ngIf="isAuth && !reviewExists || isAuth && allReviews.length >= 0 && !reviewExists">
          <div class="row">
            <div class="col">
              <div class="company-reviews">

                <h5 class="text-center">Review this company</h5>
                <form>

                  <star-rating-comp [starType]="'icon'" [hoverEnabled]="true" (onRatingChange)="onRatingChange($event)" [rating]="5.0"></star-rating-comp>
                  {{rating}}

                  <fieldset>
                    <label for="review">Review</label>
                    <!-- <input type="text" class="form-control comment-body" name="commentBody" [(ngModel)]="review.commentBody"> -->
                    <textarea name="commentBody" class="form-control comment-body" rows="4" cols="50" [(ngModel)]="review.commentBody"></textarea>
                  </fieldset>

                  <!-- <button *ngIf="isAuth" type="button" name="button" class="btn btn-info">EDIT BIO</button> -->
                  <button type="submit" class="btn btn-primary" ng-click="submitted=true" (click)="submitUserReview(); hideReviewForm()">Submit</button>
                </form>

              </div>
            </div>
          </div>
        </div>

        <div class="login-prompt" *ngIf="!isAuth">
          <a href="" routerLink="/login">Log in</a> or <a href="" routerLink="/signup">signup</a> to post a new review.
        </div>


      </section>
</div>
</div>






</div>

<!-- <app-footer></app-footer> -->
