@import "~angular-star-rating/assets/scss/star-rating";

#company-info-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2rem;
  background-color: white;
  border: 1px solid black;
  height: 5rem;
  color: black;
}

.company-overview {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  width: 7rem;
  // height: 200px;
  // border-bottom: black 1px solid;
}

.company-overview p {
  text-transform: capitalize;
  font-size: .9rem;
}


.edit-delete-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.review-card-container {
  display: flex;
  // flex-direction: row;
  align-items: center;
  // justify-content: space-around;
  width: 100%;
  height: auto;
  border-bottom: .5px solid black;
  padding: 1rem;
  // overflow: auto;
}

.review-card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.review-card-wrapper {
  display: flex;
  justify-content: center;
}

.review-user-image {
  width: 10%;
}

#review-text-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: left;
  height: 100%;
}

#review-image-section {
  display: flex;
  align-items: left;
  flex-direction: column;
  // margin-top: 0;
  height: 100%;
}

.review-stars {
  display: flex;
  justify-content: left;
}

.review-user-image img {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
}


// Review Section
#reviews {
  height: 25rem;
  display: block;
  // align-items: left;
  overflow: auto;
  width: 100%;
  margin: 3rem;
}



.review-text-wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}

ul {
  list-style-type: none;
}

.company-hero {
  background-color: white;
  height: 450px;
  text-align: center;
  border-bottom: 1px solid black;
}

.company-hero img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  object-position: center;
}



// .company-reviews {
//   height: auto;
//   width: 50%;
// }

.company-body {
  height: 10rem;
}

.comment-body {
  font-size: 1rem;
}

#review-form {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25rem;
}

// #review-form form {
//   height: auto;
// }

textarea {
  resize: vertical;
}
