// @import "~angular-star-rating/assets/scss/star-rating";

.review-user-image {
  width: 10%;
}

.review-user-image img {
  height: 5rem;
  width: 5rem;
}


.review-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 11rem;
}



// Review section id
#reviews {
  width: 100%;
  margin-left: 3rem;
  margin-right: 3rem;
}

.review-text-wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
}

ul {
  list-style-type: none;
}

.company-hero {
    /*Linear gradient to provide white opacity to hero image*/
    background-image: url("/assets/images/hero-placeholder.jpg");
    background-size: contain;
    background-repeat: repeat;
    height: 450px;
    -webkit-animation: slide 60s linear infinite;
}


.company-overview {
  height: 200px;
  border-bottom: black 1px solid;
}

.company-overview p {
  text-transform: capitalize;
}

.company-reviews {
  height: 500px;
}

.company-body {
  height: 200px;
}
