<app-navbar></app-navbar>

<div class="container-fluid">



  <ul class="company-list">

    <div class="row company-row">
        <li class="company-image" id="everlane" #everlane (click)="navigateToCompanyPage(everlane)"></li>
    </div>

    <div class="row company-row">
        <li class="company-image" id="amour-vert" #amourVert (click)="navigateToCompanyPage(amourVert)"></li>
    </div>

    <div class="row company-row">
        <li class="company-image" id="reformation" #reformation (click)="navigateToCompanyPage(reformation)"></li>
    </div>

    <div class="row company-row">
        <li class="company-image" id="eileen-fisher" #eileenFisher (click)="navigateToCompanyPage(eileenFisher)"></li>
    </div>

    <div class="row company-row">
        <li class="company-image" id="tribe-alive" #tribeAlive (click)="navigateToCompanyPage(tribeAlive)"></li>
    </div>

    <div class="row company-row">
        <li class="company-image" id="pact" #pact (click)="navigateToCompanyPage(pact)"></li>
    </div>



</ul>
</div>
