.row {
  border-bottom: .5px solid black;
  border-top: .5px solid black;
}

.category-hero {
  height: 40rem;
  background-image: url("/../assets/images/women-apparel-hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#women-apparel-header {
  position: absolute;
  font-family: 'Philosopher', sans-serif;
  top: 70px;
  right: 70px;
  color: white;
  font-size: 4rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .category-hero {
    height: 30rem;
  }

  #women-apparel-header {
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 3rem;
  }

  /* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

  .category-hero {
    height: 30rem;
  }

  #women-apparel-header {
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
  }

}


  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {

    .category-hero {
      height: 33rem;
    }

    #women-apparel-header {
      position:absolute;
      top:50%;
      left:50%;
      text-align:center;
      transform: translateX(-50%) translateY(-50%);
    }


  }



}




.certification-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid black;
}

.custom-select {
  margin: 0 3px 0 3px;
}

.filter-button {
  border: 1px solid black;
}

.filter-button:hover {
  /* background-color: black;
  color: white; */
}

/* .tile {
  height: 300px;
  width: 350px;
}


.company-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
} */

ul {
  list-style-type: none;
}
