.row {
  border-bottom: .5px solid black;
  border-top: .5px solid black;
}

.category-hero {
  height: 40rem;
  background-image: url("/../assets/images/women-apparel-hero.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

.certification-filter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  border-bottom: 1px solid black;
}

.filter-button {
  border: 1px solid black;
}

.filter-button:hover {
  /* background-color: black;
  color: white; */
}

/* .tile {
  height: 300px;
  width: 350px;
}


.company-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 5rem;
  margin-right: 5rem;
} */

ul {
  list-style-type: none;
}

#everlane {
  background-image: url("/../assets/logos/everlane-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}


#reformation {
  background-image: url("/../assets/logos/reformation_header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#amour-vert {
  background-image: url("/../assets/logos/amour-vert.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#eileen-fisher {
  background-image: url("/../assets/logos/eileen-fisher.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  border: .5px solid black;
}

#tribe-alive {
  background-image: url("/../assets/logos/tribe-alive-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#pact {
  background-image: url("/../assets/logos/pact-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}
