<app-navbar></app-navbar>

<!-- Hero Image -->
<div class="container-fluid">
  <div class="category-hero row">
    <div id="women-apparel-header">Women's Apparel</div>
  </div>
</div>

<div class="certification-filter">
<!-- <div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary">
    <input type="checkbox" name="options" id="option1" autocomplete="off"> Fair Trade Certified
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" name="options" id="option2" autocomplete="off"> Vegan
  </label>
  <label class="btn btn-secondary">
    <input type="checkbox" name="options" id="option3" autocomplete="off"> B-Certified
  </label>
</div> -->

<!-- (change)="filterChanged($event.target.value) -->

<label for="filters">Filter by Category:</label>
<select class="custom-select" name="filters" id="filters" [(ngModel)]="filterOption">
  <option value="all">All</option>
  <option value="casual" #casual>Casual</option>
  <option value="formal" #formal>Formal</option>
  <option value="summerwear" #summerwear>Summerwear</option>
  <option value="outdoors" #outdoors>Outdoors</option>
  <option value="activewear" #activewear >Activewear</option>
  <option value="petite" #petite>Petite</option>
  <option value="plussize" #plussize>Plus Size</option>

</select>

</div>

<!-- plusSize: Boolean,
petite: Boolean,
formalwear: Boolean,
casual: Boolean,
summerwear: Boolean,
outdoors: Boolean,
activewear: Boolean, -->

<div class="container-fluid company-list-wrapper">

  <ul *ngFor="let company of allCompanies | filterList: filterOption">

    <!-- <li class="row company-row"> -->

    <!-- <li *ngIf="company.bestFor.hasOwnProperty(filterOption)"> -->
    <li>


      <div class="tile" (click)="navigateToCompanyPage(company.companyName)">
        <img src="{{company.logo}}" alt="" class="company-image">
      </div>

      <!-- <div class="certification-logo" *ngIf="company.certifications && company.certifications.bCorp == true">
        <img src="/../assets/logos/B-Corp-Logo.png" alt="" >
      </div> -->

    </li>
  </ul>

</div>
