.hero {
    /*Linear gradient to provide white opacity to hero image*/
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url("/assets/images/doodles.png");
    background-size: contain;
    background-repeat: repeat;
    background-position: 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    -webkit-animation: slide 60s linear infinite;
}

@-webkit-keyframes slide {
    from { background-position: 0px 0px; }
    to { background-position: 0px 450px; }  /*Set background-position to height of element for vertical animation*/
}


.login {
  top: 2rem;
  right: 2rem;
  position: absolute;
  background: none;
}
