.navbar-default {
  background-color: white;
}

.navbar {
  /* display: flex; */
  min-height: 50px;
  border-bottom: 1px solid black;
  /* align-items: center; */
  margin-bottom: 0;
  background-color: rgb(255, 255, 248);
  /* rgb(251, 253, 244); */
}

.logo {
  max-width: 4rem !important;
}

.nav-image-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
  width: auto;
}

.profile-dropdown {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 1px solid black;
  object-fit: cover;
}
