<nav class="navbar navbar-toggleable-md navbar-light bg-faded">

  <a class="navbar-brand" href="#">Equilibrium</a>
  <!-- If the user is logged in, display a profile icon. -->


  <!-- <button *ngIf="!isAuth" type="button" data-toggle="modal" data-target="#login-modal" class="btn-lg btn-light" routerLink="/login">Login</button>
  <button *ngIf="!isAuth" type="button" data-toggle="modal" data-target="#signup-modal" class="btn-lg btn-light" routerLink="/signup">Signup</button> -->

  <div class="collapse navbar-collapse" id="navbarNavDropdown" *ngIf="!isAuth">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/signup">Signup</a>
      </li>
    </ul>
  </div>

  <ul *ngIf="isAuth" class="navbar-nav ml-auto">

    <div class="nav-image-wrapper">
      <div class="dropdown">



        <div *ngIf="user.image">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img src="/{{user.image.path}}" class="profile-dropdown" alt="">
        </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="goToProfile()">Profile</a>
              <a class="dropdown-item" (click)="goToSettings()">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>

          </li>
        </div>

        <div *ngIf="!user.image">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <img [src]="imagePreviewUrl" class="profile-dropdown" alt="">
        </a>

            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" (click)="goToProfile()">Profile</a>
              <a class="dropdown-item" (click)="goToSettings()">Settings</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" (click)="logout()">Log out</a>
            </div>

          </li>
        </div>


      </div>
    </div>

  </ul>


</nav>


<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
            </li>
        </ul>
        <a class="navbar-brand" href="#">
            <p><i class="fa fa-user" aria-hidden="true"></i></p>
        </a>
    </div>
</nav> -->
