<div class="container-fluid">
<div class="row">


<div class="category-wrapper">
  <!-- <h3>Discover your interests</h3> -->

<div class="categories">
  <div class="square">
    <h4> Women's Apparel </h4>
  </div>

  <div class="square">
    <h4>Women's Accessories</h4>
  </div>

  <div class="square">
    <h4>Men's Apparel</h4>
  </div>

  <div class="square">
    <h4>Men's Accessories</h4>
  </div>

  <div class="square">
    <h4>Beauty</h4>
  </div>

  <div class="square">
    <h4>Bath & Body</h4>
  </div>

  <div class="square">
    <h4>Kitchen</h4>
  </div>

  <div class="square">
    <h4>Cleaning</h4>
  </div>

  <div class="square">
    <h4>Bulk Food</h4>
  </div>

  <div class="square">
    <h4>Everyday Carry</h4>
  </div>

  <div class="square">
    <h4>Writing & Stationary</h4>
  </div>

  <div class="square">
    <h4>Computer Accessories</h4>
  </div>

  <div class="square">
    <h4>DIY</h4>
  </div>


  <div class="square">
    <h4>Pets</h4>
  </div>

  <div class="square">
    <h4>Vintage</h4>
  </div>

















</div>
</div>

</div>
</div>
