<div class="container-fluid">
<div class="row">


<div class="category-wrapper">
  <!-- <h3>Discover your interests</h3> -->

<div class="categories">
  <div class="square">
    <div> Women's Apparel </div>
  </div>

  <div class="square">
    <div>Women's Accessories</div>
  </div>

  <div class="square">
    <div>Men's Apparel</div>
  </div>

  <div class="square">
    <div>Men's Accessories</div>
  </div>

  <div class="square">
    <div>Beauty</div>
  </div>

  <div class="square">
    <div>Bath & Body</div>
  </div>

  <div class="square">
    <div>Kitchen</div>
  </div>

  <div class="square">
    <div>Home & Garden</div>
  </div>

  <div class="square">
    <div>Cleaning</div>
  </div>

  <div class="square">
    <div>Bulk Food</div>
  </div>

  <div class="square">
    <div>Everyday Carry</div>
  </div>

  <div class="square">
    <div>Writing & Stationary</div>
  </div>

  <div class="square">
    <div>Computer Accessories</div>
  </div>

  <div class="square">
    <div>DIY</div>
  </div>


  <div class="square">
    <div>Pets</div>
  </div>

  <div class="square">
    <div>Vintage</div>
  </div>

















</div>
</div>

</div>
</div>
