<div class="container-fluid">
<div class="row">


<div class="category-wrapper">
  <!-- <h3>Discover your interests</h3> -->

<div class="categories">
  <div class="tile" id="women-apparel">
    <div> Women's Apparel </div>
    <div class="overlay">

    </div>
  </div>

  <div class="tile" id="women-accessories">
    <div>Women's Accessories</div>
  </div>

  <div class="tile" id="men-apparel">
    <div>Men's Apparel</div>
  </div>

  <div class="tile" id="men-accessories">
    <div>Men's Accessories</div>
  </div>

  <div class="tile" id="beauty">
    <div>Beauty</div>
  </div>

  <div class="tile" id="bath-body">
    <div>Bath & Body</div>
  </div>

  <div class="tile" id="kitchen">
    <div>Kitchen</div>
  </div>

  <div class="tile" id="home-garden">
    <div>Home & Garden</div>
  </div>

  <div class="tile" id="cleaning">
    <div>Cleaning</div>
  </div>

  <div class="tile" id="bulk-food">
    <div>Bulk Food</div>
  </div>

  <div class="tile" id="everyday-carry">
    <div>Everyday Carry</div>
  </div>

  <div class="tile" id="writing">
    <div>Writing & Stationary</div>
  </div>

  <div class="tile" id="computer-accessories">
    <div>Computer Accessories</div>
  </div>

  <div class="tile" id="DIY">
    <div>DIY</div>
  </div>


  <div class="tile" id="pets">
    <div>Pets</div>
  </div>

  <div class="tile" id="vintage">
    <div>Vintage</div>
  </div>

















</div>
</div>

</div>
</div>
