#profile-hero {
  display: flex;
  height: 18rem;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'Philosopher', cursive;
  font-weight: bold;
  font-size: 1.2rem;
}

.about-wrapper {
  display: flex;
  justify-content: center;
}

.review-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.review-wrapper label {
  text-align: center;
}

.review-box {
  display: flex;
  flex-direction: column;
  min-height: 8rem;
  width: 100%;
  border-bottom: .2px solid black;
}

.review-star-rating {
  margin-left: 2rem;
}

#company-star-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.review-comment-body {
  display: flex;
  align-items: center;
  width: 100%;
  flex: 1;
  margin-left: 1rem;
  margin-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.review-comment-body div {
  flex: 1;
}


ul {
  list-style-type: none;
  margin-right: 3rem;
}

#picture-upload-section {
  display: flex;
  flex-direction: column;
  width: 17rem;
  margin-top: 1rem;
}

#userImage {
  text-align: center;
}


.profile-picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid black;
  object-fit: cover;
}

.user-avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}


#about-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 25rem;
  /* padding: 15rem 0 15rem 0; */
}

.form-group {
  text-align: center;
}
