<app-navbar></app-navbar>

<!-- NOTE: Only show EDIT BIO and SAVE buttons if current user is on their own profile -->

<div class="container-fluid">

  <div class="row">
    <div class="col-md-4 offset-md-4">
    <section id="profile-hero" class="col">

      <form>
      <fieldset class="form-group">


        <div *ngIf="!user.image">
          <a>
            <img src="/assets/glyphicons/user.png" class="profile-picture" alt="">
          </a>
        </div>
        <div *ngIf="user.image">

            <img src="/{{user.image.path}}" class="profile-picture">

        </div>

        <!-- <button type="button" name="button" (click)="edit()"></button> -->
        <!-- <div *ngIf="editCheck"> -->

          <input type="file" name="avatar" ng2FileSelect [uploader]="uploader"/>
          <button type="button" name="button" (click)="saveAvatar()">Save Image</button>
          <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>

          <!-- <p>Queue length: {{ uploader?.queue?.length }}</p> -->
          <!-- Queue progress:
                     <div class="progress" style="">
                         <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
                     </div> -->

        <!-- </div> -->

      </fieldset>
      </form>



    </section>
  </div>
</div>

<hr>

<div class="row">
  <section id="about-info" class="col">
    <div class="col-md-6 offset-md-3">

      <form>
        <fieldset class="form-group">
          <label for="about">About Me</label>
          <input type="text" class="form-control" [(ngModel)]="user.aboutText" placeholder="Tell the community something about yourself." name="about">
        </fieldset>

          <!-- <button *ngIf="isAuth" type="button" name="button" class="btn btn-info">EDIT BIO</button> -->
          <button type="submit" class="btn btn-primary" ng-click="submitted=true" id="saveButton" (click)="updateProfile()">Save</button>
      </form>

    </div>
  </section>
</div>

</div>
