#profile-hero {
  display: flex;
  height: 25rem;
  justify-content: center;
  align-items: center;
}

.profile-picture {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: 1px solid black;
}

.user-avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: cover;
}



#about-info {
  margin-top: 5rem;
}
/* /Users/rufio/Desktop/EQUILIBRIUM/server/public/uploads/1516226707431.jpg */

#user-image {
  height: 200px;
  width: 200px;
  border: 1px black solid;
  /* background-image: url("/server/public/uploads/1516226707431.jpg"); */
}

#user-image-style {
  height: 100%;
  width: 100%;

}
