#profile-hero {
  display: flex;
  height: 15rem;
  justify-content: center;
  align-items: center;
}

#picture-upload-section {
  display: flex;
  flex-direction: column;
  width: 15rem;
}

.profile-picture {
  border-radius: 50%;
  height: 120px;
  width: 120px;
  border: 1px solid black;
}

.user-avatar {
  border-radius: 50%;
  height: 100%;
  width: 100%;
  object-fit: contain;
}


#about-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 25rem;
  /* padding: 15rem 0 15rem 0; */
}

#about-text {
  width: 100%;
}

/* /Users/rufio/Desktop/EQUILIBRIUM/server/public/uploads/1516226707431.jpg */

#user-image {
  height: 200px;
  width: 200px;
  border: 1px black solid;
  /* background-image: url("/server/public/uploads/1516226707431.jpg"); */
}

#user-image-style {
  height: 100%;
  width: 100%;

}
