<app-navbar></app-navbar>

<!-- NOTE: Only show EDIT BIO and SAVE buttons if current user is on their own profile -->

<div class="container-fluid">

  <div class="row">
    <!-- <div class="image-section"> -->
    <!-- <div class="col-md-4 offset-md-4"> -->
    <section id="profile-hero" class="col">

      <form id="picture-upload-section">
      <fieldset class="form-group">


        <div *ngIf="!currentUser.image">
            <img [src]="imagePreviewUrl" class="profile-picture" alt="">
        </div>

        <div *ngIf="currentUser.image">
            <img src="/{{currentUser.image.path}}" class="profile-picture">
        </div>

        <!-- <button type="button" name="button" (click)="edit()"></button> -->
        <!-- <div *ngIf="editCheck"> -->

          <div class="progress" style="">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
          </div>
          <input type="file" name="avatar" ng2FileSelect [uploader]="uploader" (change)="readUrl($event)"/>
          <button type="button" name="button" (click)="saveAvatar()">Save Image</button>


      </fieldset>
      </form>



    </section>
</div>

<hr>

<!-- <div class="row">
  <section id="about-info">
    <div class="about-form">

      <form>
        <fieldset class="form-group">
          <label for="about">About Me</label>
          <input type="text" class="form-control" [(ngModel)]="currentUser.aboutText" placeholder="Tell the community something about yourself." name="about">
        </fieldset>

          <button *ngIf="isAuth" type="button" name="button" class="btn btn-info">EDIT BIO</button>
          <button type="submit" class="btn btn-primary" ng-click="submitted=true" id="saveButton" (click)="updateProfile()">Save</button>
      </form>

    </div>
  </section>
</div> -->

</div>
