/* You can add global styles to this file, and also import other style files */

// @import "~@angular/material/prebuilt-themes/indigo-pink.css"; //Angular Material - Snackbar Theme
@import "~angular-star-rating/assets/scss/star-rating";
@import "~ngx-toastr/toastr";


body {
  font-family: 'Merriweather Sans', sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

// NOTE: new company row/tile style experimentation
// .company-row {
//   width: 100%;
//   height: 100%;
// }

// .company-list {
//   // height: 100%;
//   width: 100%;
//   height: 11rem;
// }

// .company-image {
//   width: 18rem;
//   height: 100%;  //100% of row height
// }



.company-image {
  object-fit: contain;
  object-position: center;
  border: .5px solid black;
  /* max-height: 100%; */
  height: 10rem;
  width: 15rem;
}

.company-image img {
  max-height: 100%;
  max-width: 100%;
  margin-right: 10px;
  margin-left: 10px;
}

.company-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 10rem;
}

.certification-logo {
  object-fit: contain;
  height: 50%;
  width: 8rem;
}

.certification-logo img {
  max-height: 100%;
  max-width: 100%;
}


///////////////
.list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.business-image {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40rem;
  height: 23rem;
  margin-top: 5rem;
  margin-right: 5rem;
}

.container-fluid {
    padding-right:0;
    padding-left:0;
    margin-right:auto;
    margin-left:auto
 }


/* @media only screen and (max-width: 750px) {

  .business-wrapper {
    height: 300px;
  }

} */
