#patagonia {
  background-image: url("/../assets/logos/patagonia-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#tentree {
  background-image: url("/../assets/logos/tentree-logo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}


#saltura {
  background-image: url("/../assets/logos/saltura-clothing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#everlane {
  background-image: url("/../assets/logos/everlane-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#nau {
  background-image: url("/../assets/logos/nau-logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}

#pact {
  background-image: url("/../assets/logos/pact-logo.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border: .5px solid black;
}
