<app-navbar></app-navbar>

<!-- Hero Image -->
<div class="container-fluid">
  <div class="category-hero row">
    <div id="header">
      <div id="men-apparel-header">Men's Apparel</div>
      <div id="men-apparel-tagline">SUSTAINABLE MEN'S FASHION</div>
    </div>

  </div>
</div>

<div class="certification-filter">

<label for="filters">Filter by Category:</label>
<select class="custom-select" name="filters" id="filters" [(ngModel)]="filterOption">
  <option value="all" selected>All</option>
  <option value="casual">Casual</option>
  <option value="formal">Formal</option>
  <option value="summerwear">Summerwear</option>
  <option value="outdoors">Outdoors</option>
  <option value="activewear">Activewear</option>
</select>
</div>


<div class="container-fluid company-list-wrapper">

  <ul *ngFor="let company of allCompanies | filterList: filterOption">

    <!-- <li class="row company-row"> -->

    <li>

      <div class="tile" (click)="navigateToCompanyPage(company.companyName)">
        <img src="{{company.logo}}" alt="" class="company-image">
      </div>

      <!-- <div class="certification-logo" *ngIf="company.certifications && company.certifications.bCorp == true">
        <img src="/../assets/logos/B-Corp-Logo.png" alt="">
      </div> -->

    </li>

  </ul>

</div>
