
.row {
  border-bottom: .5px solid black;
  border-top: .5px solid black;
}

.company-list-wrapper {
  margin-left: 5rem;
  margin-right: 5rem;
}


.category-hero {
  height: 40rem;
  background-image: url("https://i.imgur.com/UC0HFx8.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

#men-apparel-header {
  position: absolute;
  font-family: 'Philosopher', cursive;
  top: 70px;
  right: 80px;
  color: white;
  font-size: 4rem;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

  .category-hero {
    height: 30rem;
  }

  #men-apparel-header {
    position:absolute;
    top:50%;
    left:50%;
    text-align:center;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    font-size: 3rem;
  }
}

.certification-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 80px;
  border-bottom: 1px solid black;
}

ul {
  list-style-type: none;
}

.company-tile {
  border: .5px solid black;
}

.custom-select {
  margin: 0 3px 0 3px;
}
